* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  background-color: #080;
  color: #fff;
}

section {
  /* height: 100vh;
  background-color: #ff0;
  display: grid;
  gap: 5px; */
  /* grid-auto-flow: column; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(3, 200px); */
  /* grid-template-rows: 100px 80% 1fr; */
}

section {
  /* padding: 20px; */
  height: 100vh;
  display: grid;
  column-gap: 10px;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}